@media only screen and (min-width:2261px) and (max-width:2380px) {

hr{

  display:none; 
}

}

@media only screen and (min-width:1261px) and (max-width:1380px) {

hr{

  display:none; 
}

}
@media only screen and (min-width:1045px) and (max-width:1260px) {

 hr{

  display:none; 
}


}
@media only screen and (min-width:962px) and (max-width:1044px) {

hr{

  display:none; 
}


}
@media only screen and (min-width:700px) and (max-width:961px) {

 hr{

  display:none; 
}

 .contact{
  width:100%;
 }
 
  .contact p{
  width: 98%;
  font-size: 14px;
 }
 
 .work{
  width:100%;
 }
  .work p{
  width:98%;
  font-size: 14px;
 }
 
 .purpose{
  width: 100%;
 }
 
 .purpose p{
  width: 98%;
  font-size: 14px;
 }
 
 .about{
  width: 100%;
 }
 
  .about p{
  width: 98%;
  font-size: 14px;
 }

 img{
  padding: 7px 7px 7px 7px;
 }

}
@media only screen and (max-width:699px) {
  

  nav ul{
    margin:.1em .1em .1em .1em;
    font-size: 12px;    
}

 .contact{
  width:100%;  
 }
  .contact p{
  width: 98%;
  font-size: 13px;
 }
 .work{
  width:100%;

 }
  .work p{
  width:98%;
  font-size: 13px;
 }
 .purpose{
  width: 100%;

 }
 .purpose p{
  width: 98%;
  font-size: 13px;
 }
 .about{
  width: 100%;
  
 }
  .about p{
  width: 98%;
  font-size: 13px;

 }
 
.message p{
  font-size: 13px;
 
}

 img{
  padding: 5px 5px 5px 5px;
 }

hr{

  width: 95%;
}

 
}
