@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

body {
	background: -webkit-linear-gradient(gray, #5B5B4C, gray);
	background-attachment:fixed;
	background-size:cover;
	font-size:16px;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}

p{
	font-size:1em;
	font-family:'Quattrocento Sans', sans-serif;
	
}


.wrapper {
	
	background-color:#D6D6D6;
	max-width:1100px;
	margin:0 auto;
}

footer{
  background-color:#000; 
  max-width:100%;

}


footer p{

text-align: center;
color:#fff;
}

img{
  float: left;
  width:10em;
  height:10em;
  padding:10px 10px 10px 10px;
 
}

img:hover{
	opacity:.8;
	
}

nav{
  background-color:#996633; 
  max-width:100%;
  opacity:.7;
  height: 30px;
  
  
}

a{
	color:#000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

nav ul{
	display:inline-block;
	font-color:#ccc;
	margin-top:10px;
}

nav a:hover {
	color:#B6B698;
	text-decoration: underline;
}

nav a{
	text-decoration:none;
	padding:10px;
	color:#fff;
	margin-top:2px;	
}

.about{
	margin-top: 2px;
}
.about h2{
	margin-left:.5em;
	
}
.about p{
	margin-left:.5em;
	
}
.purpose h2{
	margin-left:.5em;
	
}
.purpose p{
	margin-left:.5em;
	
}
.work h2{
	margin-left:.5em;

}
.work p{
	margin-left:.5em;

}

.purpose h2{
	margin-left:.5em;
}

.about p{
	margin-left:.5em;
}

.contact p{
        margin-left:.5em;
}
.contact h2{
	margin-left:.5em;
}
.examples p{
        display:inline-block;
}
.btn2{
        margin-left:.5em;
        cursor:pointer;
}
.btn3{
        cursor:pointer;
}
.btn4{
        cursor:pointer;
}
.message p{
	margin-left:.5em;
}

footer p:hover{
	color:#B6B698;
}

hr{
       width:0%;	
}	


