div {
    height:90px;
    width:90px;
    margin:2em;
}
div:hover{
	opacity:0.8;
}
#one {
    background-color:#FF0000;
    display:inline-block;
    
}

#two {
    background-color:#0000FF;
    display:inline-block;
     
}

#three {
    background-color:#E2BE22;
    display:inline-block;
     
}

	  
