@media only screen and (max-width:800px) {
nav ul{
  margin: 2px;
  font-size: 15px;
  padding-top: 15px;
}

nav{
  width: 90%;
}


@media only screen and (max-width:699px) {
nav ul{
  margin: 2px;
  font-size: 15px;
  padding-top: 15px;
}

nav{
  width: 90%;
}
.about p{
  text-align: left;
  font-size:14px;
  width: 90%;
}

@media only screen and (max-width:499px) {
nav ul{
  margin: .02px;
  font-size: 12px;
  padding-top: 15px;
}
nav{
  width: 90%;
}

.about p{
  text-align: left;
  font-size:14px;
  width: 90%;
}
